@charset "UTF-8";

header {
    height: 400px;
    background: url('../imagens/backgroundpc.jpg') center center no-repeat fixed;
    background-size: cover;
}

header > section > a {
    top: -45px;
    left: 85%;
}

header > section > div {
    display: none;
}

header > section > article {
    height: 260px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

header > section > article > div#imenu {
    display: block;
    position: relative;
    background-color: rgba(128, 128, 128, 0.4);
    }

header > section > article > div#imenu > a {
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        color: var(--cor01);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }

main > section > article {
    width: 200px;
    height: 380px;

    left: calc(50% - 48vw);
    transition: width .6s ease;
}

main > section > article > p {
    width: 200px;
    font-size: 1em;
}

main > section > article > p > strong {
    width: 180px;
    height: 60px;
}

main > section > aside > article > div, main > section > aside > article > div > img {
    width: 80px;
    margin-left: 15%;

    left: calc(50%-50%);
}