@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontplayfair: "Playfair", 'Courier New', Courier, monospace;
    --fontraleway: "Raleway", 'sans-serif';
    --fontlora: "Lora", 'Times New Roman', Times, serif;

    --cor01: #E0E0E0;
    --cor02: #F1E6D7;
    --cor03: #A8D08D;
    --cor04: #F7D76C;
    --cor05: #F89D41;
}

* {
    margin: 0px;
    padding: 0px;
}

/* 
::-webkit-scrollbar {
    display: none;
} 
*/

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
}

header {
    width: 100vw;
    height: 300px;
    background: white url(../imagens/ft06.jpg) center center no-repeat;
    background-size: cover;
}

header > section > h1 {
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    font-family: var(--fontplayfair);
    font-size: 2em;
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    background-clip: text;
    color: transparent;
    padding: 8px;
}

header > section > p {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-family: var(--fontplayfair);
    font-size: .8em;
    color: var(--cor03);
}