@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontplayfair: "Playfair", 'Courier New', Courier, monospace;
    --fontraleway: "Raleway", 'sans-serif';
    --fontlora: "Lora", 'Times New Roman', Times, serif;

    --cor01: #E0E0E0;
    --cor02: #F1E6D7;
    --cor03: #A8D08D;
    --cor04: #F7D76C;
    --cor05: #F89D41;
}

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
} 

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
}

header {
    width: 100%;
    height: 300px;
    background: var(--cor02) url('../imagens/background-header.jpg') center center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

header > section > h1 {
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    font-family: var(--fontplayfair);
    font-size: 2em;
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    background-clip: text;
    color: transparent;
    padding: 8px;
}

header > section > p {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-family: var(--fontplayfair);
    font-size: .8em;
    color: var(--cor03);
}

header > section > a {
    margin: 5px;
    color: var(--cor05);
    box-sizing: border-box;
    position: relative;

    left: 82%;
}

header > section > a > span:hover {
    text-shadow: 0px 0px 5px #E0E0E0;

    transform: scale(1.3);
    transition: text-shadow, transform .5s ease;
}

header > section > div {
    color: var(--cor04);
    padding: 5px;
    position: absolute;
    cursor: pointer;

    top: 10px;
    left: 5px;
}

header > section > div#imenu {
    display: none;
    box-sizing: border-box;
    top: 35px;
    left: 0px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 6px;
}

header > section > div#imenu > a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: var(--cor01);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

header > section > div#ibotao:hover {
    opacity: 65%;
    transform: scale(1.2);
    transition: opacity, transform .5s ease;
}

main {
    
}