<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <main>
        <input type="email" name="email" id="email">
        <input type="password" name="senha" id="senha">
        <input type="text" name="nome" id="nome">
        <input type="text" name="endereco" id="endereco">
        <button onclick="cadastrarUsuario(email.value, senha.value, nome.value, endereco.value)">Cadastrar</button>
    </main>
    <script type="module" src="../static/loginUser.js">
        
    </script>
</body>
</html>