<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M'Immobili</title>
    <link rel="stylesheet" href="../static/styleMobile.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <section>
            <article>
                <nav class="barraNavegacao">
                    <img src="../static/menu.png" alt="Menu" class="botoes" data-acao="abrirMenu">
                    
                    <img src="../static/logo.png" alt="Logo">
                    
                    <img src="../static/carrinho.png" alt="Carrinho" class="botoes" data-acao="verCarrinho">
                    
                    <img src="../static/login.png" alt="Login" class="botoes" data-acao="fazerLogin">
                </nav>
                
                <div class="menuAberto">
                    <article class="navegacao">
                        <img src="../static/menu_clicado.png" alt="Menu" class="botoes" id="menu" data-acao="abrirMenu">
                        <p>Ir para</p>
                        <img src="../static/arm.png" alt="Armazenamento" class="imagensInterface">
                        <h2>
                            <a href="#">Armazenamento</a>
                        </h2>
                        <img src="../static/assent.png" alt="Assento/Repouso" class="imagensInterface">
                        <h2>
                            <a href="#">Assento e Repouso</a>
                        </h2>
                        <img src="../static/sup.png" alt="Superfície" class="imagensInterface">
                        <h2>
                            <a href="#">Superfície</a>
                        </h2>
                        <img src="../static/estr.png" alt="Estruturas/Suportes" class="imagensInterface">
                        <h2>
                            <a href="#">Estruturas e Suportes</a>
                        </h2>
                    </article>

                    <article class="meioMenu">
                        <hr class="maior">
                        <hr class="medio">
                        <hr class="menor">
                        <img src="../static/logo.png" alt="Logo" class="logoMenu">
                        <hr class="menor">
                        <hr class="medio">
                        <hr class="maior">
                    </article>

                    <article class="rodapeMenu">
                        <img src="../static/login_clicado.png" alt="Minha conta" class="imagemConta">
                        <p class="textoConta">
                            Minha conta
                        </p>
                        <img src="../static/carrinho_clicado.png" alt="Meus produtos" class="imagemProdutos">
                        <p class="textoProdutos">
                            Meus produtos
                        </p>
                        <img src="../static/sup.png" alt="Atendimento" class="imagemAtendimento">
                        <p class="textoAtendimento">
                            Atendimento
                        </p>
                    </article>
                </div>
        </section>
    </header>
    <main>
        <section>
            <article>
                <h2><a href="#">Armazenamento</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">
                                
                            </div>  
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">
                            
                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Assento e Repouso</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Superfície</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Estruturas e Suporte</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <aside>
                <img src="../static/chat.png" alt="Suporte" class="botoes" data-acao="abrirSuporte">
            </aside>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <p>Atendimento Físico e Serviços online</p>
                <p>Assis Brasil, AC - Segunda a Sexta</p>
                <p>emailx.com.br - Segunda a Sexta</p>
                <p>Autoatendimento - 24/7</p>
            </article>
            <article>
                <p>Pagamento</p>
                <img src="#" alt="Pix">
            </article>
            <article>
                <div>

                </div>
                <p>Criado por Wesley Xavier</p>
            </article>
        </section>
    </footer>

    <script src="../static/script.js">

    </script>
</body>
</html>