<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M'Immobili</title>
    <link rel="stylesheet" href="../static/styleMobile.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <section>
            <article>
                <div>
                    <img src="#" alt="Menu" class="botoes" data-acao="abrirMenu">
                </div>
                <div class="menuAberto">
                    <p>Ir para</p>
                    <img src="#" alt="Armazenamento">
                    <h2>
                        Armazenamento
                    </h2>
                    <img src="#" alt="Assento/Repouso">
                    <h2>
                        Assento e Repouso
                    </h2>
                    <img src="#" alt="Superfície">
                    <h2>
                        Superfície
                    </h2>
                    <img src="#" alt="Estruturas/Suportes">
                    <h2>
                        Estruturas e Suportes
                    </h2>

                    <hr class="maior">
                    <hr class="medio">
                    <hr class="menor">

                    <img src="#" alt="Logo">

                    <hr class="menor">
                    <hr class="medio">
                    <hr class="maior">

                    <img src="#" alt="Minha conta">
                    <p>
                        Minha conta
                    </p>
                    <img src="#" alt="Meus produtos">
                    <p>
                        Meus produtos
                    </p>
                    <img src="#" alt="Atendimento">
                    <p>
                        Atendimento
                    </p>
                </div>
            </article>

            <article>
                <div>
                    <img src="#" alt="Logo">
                </div>
            </article>
            <article>
                <div>
                    <img src="#" alt="Carrinho" class="botoes" data-acao="verCarrinho">
                </div>
            </article>
            <article>
                <div>
                    <img src="#" alt="Login" class="botoes" data-acao="fazerLogin">
                </div>
            </article>
        </section>
    </header>
    <main>
        <section>
            <article>
                <h2><a href="#">Armazenamento</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">
                                
                            </div>  
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">
                            
                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Assento e Repouso</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Superfície</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <h2><a href="#">Estruturas e Suporte</a></h2>
                <div class="slider-container">
                    <ul class="slider-track">
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                        <li class="item">
                            <div class="caixa">

                            </div>
                            <p class="texto"></p>
                            <img src="#" alt="Carrinho">
                        </li>
                    </ul>
                </div>
            </article>
            <aside>
                <img src="#" alt="Suporte" class="botoes" data-acao="abrirSuporte">
            </aside>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <p>Atendimento Físico e Serviços online</p>
                <p>Assis Brasil, AC - Segunda a Sexta</p>
                <p>emailx.com.br - Segunda a Sexta</p>
                <p>Autoatendimento - 24/7</p>
            </article>
            <article>
                <p>Pagamento</p>
                <img src="#" alt="Pix">
            </article>
            <article>
                <div>

                </div>
                <p>Criado por Wesley Xavier</p>
            </article>
        </section>
    </footer>

    <script src="../static/script.js">

    </script>
</body>
</html>