<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/estilos/styleLogin.css">
</head>
<body>
    <main>
        <div id="fecharPerfil">
            <img src="../static/imagens/fechar.png" alt="Fechar">
        </div>
        <div id="perfil-container">
            <h1>Meu Perfil</h1>
            <p><strong>Nome:</strong> <span id="user-name">Carregando...</span></p>
            <p><strong>Email:</strong> <span id="user-email">Carregando...</span></p>
            <p><strong>Endereço:</strong> <span id="user-adress">Carregando...</span></p>
            <button id="deslogar">Sair da Conta</button>
        </div>
    </main>
    <footer>
        <section>
                <div>
                    <img src="../static/imagens/fundoFooter.png" alt="Fundo">
                </div>
                <p> &copy 2026 M'Immobbili rights reserved - create by Wesley Xavier</p>
        </section>
    </footer>
    <script type="module" src="../static/user.js">

    </script>
</body>
</html>