@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Cores gerais de Página */
    --corPaginaEscuro: #B0B0B0;
    --corPaginaClaro: #EEE;
    /* Cor para os Itens */
    --corItensClaro: #363636;
    --corItensEscuro: #0E0E0E;
    --corItensPreto: #040304;
    /* Fontes */
    --fontePrincipal: "Montserrat";
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fontePrincipal), Helvetica, sans-serif;
    background-color: var(--corPaginaClaro);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* Configurações Header */

header {
    height: 300px;
    background: url("../imagens/imagem\ de\ fundo.png") center no-repeat scroll transparent;
    background-size: cover;
    box-shadow: 0px 0px 8px #000000D4;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 10px;
    color: var(--corItensClaro);
}

header > section > article > nav {
    width: 100%;
    display: grid;
    background-image: linear-gradient(14);
    grid-template-columns: 2fr 8fr 1.2fr 1fr;
    grid-template-rows: auto;
    align-items: left;
    padding: 5px;
    position: fixed;
    z-index: 2;
    top: 0px;
    background-color: transparent;
    border-radius: 0px 0px 8px 8px;
}

/* Classe de alteração */

.scroll {
    padding: 8px;
    background-image: linear-gradient(150deg, #B0B0B0 15%, #EEEEEE 30%); 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

/* Classe de alteração */

header > section > article > nav > img {
    width: 40px;
    background-color: transparent;
}

header #verCarrinho {
    width: 0dvw;
    height: 0dvh;
    display: grid;
    place-content: space-between, center;
    place-items: start center;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 100%;
    transition: all .5s ease;
    position: absolute;
    top: -100%;
    left: 100%;
    z-index: 4;
    background-image: linear-gradient(150deg, var(--corPaginaEscuro) 15%, var(--corPaginaClaro) 30%);
    list-style-type: none;
}

header #verCarrinho.ativo {
    width: 100dvw;
    height: 100dvh;
    transition: all .5s ease;
    overflow-y: auto;
    border-radius: 0%;
    top: 0%;
    left: 0%;
}

header #verCarrinho * {
    background-color: transparent;
}

header #verCarrinho img.fechar-carrinho {
    width: 70px;
    align-self: left;
    justify-self: left;
    cursor: pointer;
}

header #verCarrinho img:hover {
    transition: all .5s ease;
    transform: scale(1.05);
}

header #verCarrinho h3 {
    text-align: center;
    margin-bottom: 20px;
}

header #verCarrinho button {
    padding: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(150deg, var(--corItensPreto), var(--corItensClaro),var(--corItensEscuro));
    color: var(--corPaginaClaro);
    border: none;
}

header #verCarrinho button:hover {
    transition: all .5s ease;
    transform: scale(1.05);
    color: var(--corItensEscuro);
    background: var(--corPaginaClaro);
}

header #verCarrinho div.trocaConteudo ul li {
    width: 300px;
    background-image: linear-gradient(150deg, var(--corItensPreto), var(--corItensClaro),var(--corItensEscuro));
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    cursor: pointer;
}

header #verCarrinho div.trocaConteudo ul li img {
    place-self: end;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

header #verCarrinho div.trocaConteudo ul img {
    width: 80px;
}

header > section > article > nav > div > span {
    position: relative;  
    background-image: linear-gradient(150deg, var(--corItensPreto), var(--corItensClaro),var(--corItensEscuro)); 
    color: white; 
    border-radius: 50%; 
    padding: 2px 6px; 
    font-size: 12px;
}

header > section > article > div > article {
    background-color: transparent;
}

header > section > article > div > article > h2 > a, header h2 {
    text-decoration: none;
    color: var(--corItensClaro);
    display: inline-block;
    font-size: medium;
    background-color: transparent;
}

header > section > article > div > article > h2 > a:hover {
    color: var(--corItensPreto);
    transform: scale(1.01);
    transition: all 1s ease;
}

header > section > article > div > article > p {
    padding: 8px;
    font-size: .8em;
    font-weight: 400;
    background-color: transparent;
}

.botoes {
    width: 40px;
    background-color: transparent;
}

.botoes:hover {
    transition: all .4s ease;
    transform: scale(1.05);   
    cursor: pointer;
}

.menuAberto {
    max-width: 50dvw;
    height: 100dvh;
    display: grid;
    place-content: space-between;
    position: fixed;
    top: 0px;
    left: -50%;
    z-index: 2;
    transition: left 0.5s ease;
    background-image: linear-gradient(150deg, var(--corPaginaEscuro) 15%, var(--corPaginaClaro) 30%);
    border-radius: 0px 18px 18px 0px;
    box-shadow: 0px 0px 6px black;
}

.navegacao {
    display: grid;
    padding: 5px;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr 4fr;
    place-items: center left;
}

#login, #carrinho {
    justify-self: right;
    align-self: right;
}

.navegacao > #menu {
    width: 40px;
    margin-left: 75%;
    margin-top: 5%;
    background-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.navegacao > p {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.imagensInterface {
    width: 30px;
    margin-top: 2px;
    background-color: transparent;
    display: inline-block;
}

.meioMenu {
    background-color: transparent;
}

.menor {
    width: 30%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.medio {
    width: 50%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.maior {
    width: 70%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.logoMenu {
    width: 40px;
    position: relative;
    background-color: transparent;
    top: 10px;
    left: 40%;
}

.rodapeMenu {
    display: grid;
    place-items: center center;
    gap: 10px;
    grid-template: repeat(3, auto) / repeat(2, 50%);
    font-size: .7em;
    padding-bottom: 6px;
    background-color: transparent;
}

.textoConta {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imagemConta {
    width: 50px;
    background-color: transparent;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.textoProdutos {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.imagemProdutos {
    width: 50px;
    background-color: transparent;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.textoAtendimento {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.imagemAtendimento {
    width: 50px;
    background-color: transparent;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Configurações Main */

main > section {
    display: grid;
    place-content: center center;
    place-items: center center;
    gap: 180px;
}

main > section > article {
    display: grid;
    place-content: center center;
    place-items: center center;
    gap: 20px;
}

main > section > article > h2 {
    width: 70dvw;           
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid black; 
}

main > section > article > h2 > a {
    width: 100%;
    padding-bottom: 10px;
    display: inline-block;
    color: var(--corItensClaro);
    text-decoration: none;
}

main > section > article > h2 > a:hover {
    transition: all.5s ease;
    color: var(--corItensPreto);
    transform: scale(1.05);
}

.slider-container {
    overflow: hidden;
    width: 100%; 
}

.slider-track {
    display: flex;
    overflow: visible;
    gap: 80px;
}

.item {
    width: 250px;   
    height: 350px;
    gap: 0px;
    flex-shrink: 0; 
    transform: translateX(60px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, var(--corItensPreto), var(--corItensClaro),  var(--corItensEscuro));
    border-radius: 8px;
    box-shadow: 2px 2px 2px #00000073;
}

.caixa {
    width: 90%;
    height: 65%;
    border-radius: 8px;
    background-color: blue;
}

.caixa:hover {
    transition: all .5s ease;
    transform: scale(1.05);
} 

.texto {
    width: 50%;
    height: 20%;
    border-radius: 8px;
    background-color: gray;
}

main li > .botoes {
    width: 50px;
    background-color: var(--corPaginaClaro);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.356);
    border-radius: 8px;
    margin-left: 10%;
    padding-right: 4px;
}

main li > .botoes:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.377);
    content: url("../imagens/carrinho_clicado.png");
    src: "../imagens/carrinho_clicado.png";
}

aside > .botoes {
    width: 60px;
    position: fixed;
    top: 87%;
    left: 75%;
    z-index: 3;
    background-color: var(--corPaginaClaro);
    border-radius: 12px;
}

.suporteChat {
    width: 0dvw;
    height: 0vh;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 3fr 1.2fr;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    left: 100%;
    top: 100%;
    border-radius: 100%;
    z-index: 4;
    transition: all .5s ease;
    background-image: linear-gradient(150deg, var(--corPaginaEscuro) 15%, var(--corPaginaClaro) 30%); 
    padding: 8px;
}

.suporteChat.aberto {
    width: 100dvw;
    height: 100dvh;
    border-radius: 0%;
    left: 0%;
    top: 0%;
}

.suporteChat .botoes {
    width: 60px;
}

.suporteChat div {
    width: 100%;
    height: 100%;  
    border-radius: 8px;
    box-shadow: 0px 0px 8px #00000074;
    background-color: transparent;
    cursor: pointer;
    background-image: linear-gradient(45deg, var(--corItensPreto), var(--corItensClaro),  var(--corItensEscuro));
    color: var(--corPaginaClaro);
}

.suporteChat p {
    height: 100%;
    display: flex;          
    justify-content: center;
    align-items: center;   
    text-align: center;  
    margin: auto;
    text-align: center;
}

.suporteChat div:not(.semHover):hover {
    transform: scale(1.01);
    transition: all .5s ease;
    background-image: linear-gradient(var(--corPaginaClaro));
    color: var(--corItensEscuro);
}

.suporteChat div:first-of-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.suporteChat div:last-of-type {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-top: 10px;
}

.suporteChat img:last-of-type {
    width: 60px;
    background-color: transparent;
    margin: auto;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

/* Configurações Footer */

footer {
    height: 651px;
    font-size: .8em;
    box-shadow: 0px 0px 6px #00000044;
}

footer > section {
    height: 100%;
    display: grid;
    grid-template: 1fr 2fr 1fr / repeat(3, auto);
    place-content: space-between;
    background-image: linear-gradient(150deg, var(--corItensPreto), var(--corItensClaro),var(--corItensEscuro));
    background-color: transparent;
    gap: 40px;
    padding: 6px 6px 0px 6px;
}

.prim {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    border-radius: 8px;
}

.prim > p {
    padding: 10px;
    margin-left: 20px;
}

.prim > p:nth-last-of-type(4) {
    margin-left: 0px;
    justify-self: center;
}

.seg {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: grid;
    grid-template: 1fr 5fr / auto;
    place-content: center;
    place-items: start center;
    border-radius: 8px;
    padding-top: 10px;
}

.terc {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    margin: auto;
    box-shadow: 0px 0px 8px black;
    border-radius: 8px 8px 0px 0px;
    background-color: transparent;
    margin-bottom: 10px;
}

.seg > img {
    width: 150px;
}

.terc p {
    align-self: end;
    font-size: .8em;
    text-align: center;
    background-color: var(--corPaginaClaro);
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
}

.terc img, .terc div {
    width: 150px;
    filter: blur(.5px);
    display: block;
    margin: auto;
    background: transparent;
}