@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Cores gerais de Página */
    --corPaginaEscuro: #B0B0B0;
    --corPaginaClaro: #EEE;
    /* Cor para os Itens */
    --corItensClaro: #363636;
    --corItensEscuro: #0E0E0E;
    --corItensPreto: #040304;
    /* Fontes */
    --fontePrincipal: "Montserrat";
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fontePrincipal), Helvetica, sans-serif;
    background-color: transparent;
    color: var(--corItensEscuro);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
    background-image: linear-gradient(150deg, #B0B0B0 15%, #EEEEEE 30%);
    box-shadow: 0px 0px 6px black;
}

/* CONFIG MAIN */
main {
    height: 50dvw;
    display: grid;
    place-content: center;
    place-items: center;
   
}

main > div {
    width: 100dvw;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 10px;
}

main > #fecharPerfil {
    position: relative;
    top: -55px;
    left: 5px;
    display: grid;
    place-content: start;
}

main > #fecharPerfil img {
    width: 70px;
    cursor: pointer;
}

main > #fecharPerfil img:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

main > div input {
    padding: 8px;
    margin: 4px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0px 0px;
    border: none;
    border-bottom: 1px solid black;
}

main > div input:focus {
    transition: all 1s ease;
    background-color: var(--corPaginaEscuro);
    outline: none;
    border: none;
    border-bottom: 1px solid orange;
}

main > div input[type='submit'], main > div button, main > div p {
    padding: 8px;
    margin: 4px;
    border-radius: 8px 8px 0px 0px;
    border: none;
    border-bottom: 1px solid black;
}

main > div input[type='submit']:hover, main > div button:hover, main > div p:hover {
    transition: all .8s ease;
    transform: scale(1.05);
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    border: none;
    border-radius: 8px 8px 0px 0px;
}

/* CONFIG FOOTER */

footer > section {
    width: 100dvw;
    height: 51dvh;
    display: grid;
    place-content: end center;
}

footer > section img {
    width: 150px;
    filter: blur(.5px);
    display: block;
    margin: auto;
    background: transparent;
}

footer > section > p {
    width: 100dvw;
    font-size: .7em;
    text-align: center;
    background-color: var(--corPaginaClaro);
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
}