@charset "UTF-8";

body, html {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5D2C80;
}

main {
    width: 260px;
    height: 540px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article {
    overflow: hidden;
    width: 100%;
    height: 25vh;
    border-radius: 12px 12px 0px 0px;
}

article img {
    width: 100%;
    height: 100%;
}

section h1 {
    text-align: center;
}

section p {
    padding: 6px;
}

section form i {
    color: white;
    padding: 4px;
}

section form div.back {
    height: 30px;
    background-color: #5A2D7E;
    margin: 5px 3px;
    border-radius: 6px;
}

section form input#isen, input#iusu {
    width: 82%;
    height: 24px;
    position: absolute;

    background-color: #93CECC;
    border-radius: 8px;
}

section form input#isend, input#iesq {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 4px;
    padding: 4px;
    background-color: #66B1AB;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

section form input#isend:hover {
    background-color: #377a76;
}
