@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Cores gerais de Página */
    --corPaginaEscuro: #B0B0B0;
    --corPaginaClaro: #EEE;
    /* Cor para os Itens */
    --corItensClaro: #363636;
    --corItensEscuro: #0E0E0E;
    --corItensPreto: #040304;
    /* Fontes */
    --fontePrincipal: "Montserrat";
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fontePrincipal), Helvetica, sans-serif;
    background-color: var(--corPaginaClaro);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/* Configurações Header */

header {
    width: 100vh;
    height: 300px;
    background: url("imagemFundo.png") center cover no-repeat fixed transparent;
    box-shadow: 0px 0px 8px #000000D4;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 10px;
    color: var(--corItensClaro);
}

header > section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: left;
}

header > section > article > div > h2 > a, header h2 {
    text-decoration: none;
    color: var(--corItensClaro);
    display: inline-block;
    font-size: medium;
    background-color: transparent;
}

header > section > article > div > h2 > a:hover {
    color: var(--corItensPreto);
    transform: scale(1.01);
    transition: all 1s ease;
}

header > section > article > div > p {
    font-size: small;
    font-weight: 400;
    background-color: transparent;
}

.menuAberto {
    width: 35dvw;
    height: 100dvh;
    position: absolute;
    top: -1px;
    background-image: linear-gradient(150deg, var(--corPaginaEscuro) 15%, var(--corPaginaClaro) 30%);
    border-radius: 0px 0px 18px 18px;
    box-shadow: 0px 0px 6px black;
}

#menu {
    margin-left: 65%;
}

.imagensInterface {
    display: inline-block;
}

.menor {
    width: 30%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.medio {
    width: 50%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.maior {
    width: 70%;
    height: 0px;
    border: 1px solid var(--corItensClaro);
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}

.logoMenu {
    position: relative;
    top: 10px;
    left: 40%;
}

/* Configurações Main */

main > section {
    display: grid;
    place-content: center center;
    place-items: center center;
    gap: 180px;
}

main > section > article {
    display: grid;
    place-content: center center;
    place-items: center center;
    gap: 20px;
}

main > section > article > h2 {
    width: 50%;           
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid black; 
}

main > section > article > h2 > a {
    width: 100%;
    padding-bottom: 10px;
    display: inline-block;
    color: var(--corItensClaro);
    text-decoration: none;
}

main > section > article > h2 > a:hover {
    transition: all.5s ease;
    color: var(--corItensPreto);
    transform: scale(1.05);
}

.slider-container {
    overflow: hidden;
    width: 100%; 
}

.slider-track {
    display: flex;
    gap: 80px;
}

.item {
    gap: 0px;
    flex-shrink: 0; 
    width: 250px;   
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(45deg, var(--corItensPreto), var(--corItensClaro),  var(--corItensEscuro));
    border-radius: 8px;
    box-shadow: 2px 2px 2px #00000073;
}

.caixa {
    width: 90%;
    height: 65%;
    border-radius: 8px;
    background-color: blue;
}

.texto {
    width: 50%;
    height: 20%;
    border-radius: 8px;
    background-color: gray;
}

/* Configurações Footer */

footer {

}