@charset "UTF-8";
@font-face {
    font-family: "FruitAcid";
    src: url('../fonts/FRUIT\ ACID.otf');
}
@font-face {
    font-family: "FruitFresh";
    src: url('../fonts/Fresh\ Fruit.ttf ACID.otf');
}
@font-face {
    font-family: "SuperFruit";
    src: url('../fonts/superfruit.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all .5s ease;
    scroll-behavior: smooth;
}

:root {
    --font-fresh: 'FruitFresh', Arial, Helvetica, sans-serif;
    --font-acid: 'FruitAcid', cursive, serif;
    --font-super: 'SuperFruit', 'Courier New', Courier, monospace;

    --cor-fundo: #E9DFD5;
}

body {
    background-color: var(--cor-fundo);
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--font-acid);
    font-size: 1.1em;
}

header {
    height: 150px;
    text-align: center;
}

header > h1 {
    background: transparent url("../imagens/imagem-texto.jpg") center no-repeat scroll;
    background-size: cover;
    background-clip: text;
    /* font-family: var(--font-acid); */
    color: transparent;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    padding: 8px;
}

header > p {
    padding: 6px;
}

header > div {
    width: 70px;
    height: 100vh;
    position: absolute;
    top: 0px;
    text-align: left;
    padding: 1px;
}

header > div > menu {
    height: 100%;
    display: none;
    /* font-family: var(--font-acid); */
    padding: 4px;
}

header > div > menu > a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 4px;
}

header > div > menu > a:hover {
    transform: scale(1.1);
}

header > div > img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    
}

main > section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}

main > section > article {
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40%;
}

main > section > article > p {
    flex: 0 0 50%;
}

main > section > article#pitaya {
    background: transparent url("../imagens/pitaya.png") center no-repeat scroll;
    background-size: cover;
}

main > section > article#banana {
    background: transparent url("../imagens/banana.png") center no-repeat scroll;
    background-size: cover;
}

main > section > article#morango {
    background: transparent url("../imagens/morango.png") center no-repeat scroll;
    background-size: cover;
}

main > section > article#maca {
    background: transparent url("../imagens/maca.png") center no-repeat scroll;
    background-size: cover;
}

footer {
    height: 70px;
    padding: 6px;
    margin-top: 4px;
    text-align: center;
    /* font-family: var(--font-acid); */
    background-color: #e4d4c5;
}

footer > div > p > a {    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

footer > div > p > a:hover {
    color: rgba(0, 0, 0, 0.9);
}